<div class=" col-xs-{{ widget.position.column }}">
    <!-- small box -->
    <div class="small-box bg-{{ widget.appearance.color }}">
        <div class="inner">
            <h3 class="widget-value">{{ widget.query.label }}</h3>
        </div>
    </div>
</div>