<!-- Key -->
<div class="form-group">
    <label>Key</label>
    <input type="text" class="form-control" placeholder="Enter ..." required="required" name="key"
           value="{{ widget.key }}">
</div>

<!-- Title -->
<div class="form-group">
    <label>Title of the widget</label>
    <input type="text" class="form-control" placeholder="Enter ..." required="required" name="title"
           value="{{ widget.title }}">
</div>
