{% extends "../layout/default.twig" %}

{% block content %}

    <div class="row">
        {% set currentRow = 1 %}
        {% for widget in widgets %}
            {% if currentRow != widget.position.row %}
                {% set currentRow = widget.position.row  %}
                </div>
                <div class="row">
            {% endif %}

            {% include 'index/elements/widgets/' ~ widget.source ~ '_' ~ widget.type ~ '.twig' with { 'widget' : widget} %}

        {% else %}
            <h3>No widgets found</h3>
        {% endfor %}

    </div>
    <script>
        var dashboardKey = "{{ dashboard.key }}";
    </script>

{% endblock %}